
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(52, 50, 53);
}
.content {
    top: 20%;
    left: 20%;
    position: absolute;
}
.write-up {
    color: #fff;
    line-height: 2.5rem;
    font-family: monospace;
    font-weight: 900;
}
.text-area {
    color: #fff;
    background-color: rgb(52, 50, 53);
     border: solid #fff;
     margin-top: 1rem;
     padding: 1rem 8rem 1rem 1rem;
}
.fancy {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
}
.right-fancy {
    display:flex;
    flex-direction: column;
}
.total {
    background-color: #fff;
    padding: .5rem;
}
.btn {
    background-color: rgb(28, 196, 196);
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 700;
}
.amount {
    font-size: x-large;
}
.left-fancy {
    background-color: rgb(236, 53, 89);
    padding-left: 10rem;
    width: 70%;
    margin-left: -1rem;
}
.inner-fancy {
    background-color: #fff;
    margin: 1rem 1rem 1rem -9rem;
    padding: 1.5rem;
    border-radius: .3rem;
}
.inner-fancy h2 {
    background-color: #fff;
    box-shadow: 2px 2px 9px 0.1px black ;
    padding: 1rem 4rem;
    margin: 0rem -1.5rem -.5rem;
}
.button input {
    border-radius: 50%;
    width: 5%;
    background-color: rgb(236, 53, 89);
    border: none;
    color: #000;
    
}
.button {
    justify-content: space-between;
    display: flex;
    margin: -1rem -1rem 1rem ;
}